body {
  background-color: rgb(15 23 42);
  color: rgb(214, 214, 214);
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  margin: 0 auto;
  max-width: 1600px;
  box-sizing: border-box;
  height: 100vh;
  gap: 1rem;
  overflow: hidden;
}

.FixedProfile {
  width: calc(33.33% - 40px);
  position: fixed;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.ScrollableContent {
  width: calc(66.66% - 40px);
  margin-left: calc(33.33% + 1rem);
  height: calc(100vh - 80px);
  overflow-y: auto;
}

@media (max-width: 900px) {
  .App {
    flex-direction: column;
    padding: 20px;
    height: auto;
    overflow: auto;
  }

  .FixedProfile,
  .ScrollableContent {
    position: static;
    width: 100%;
    margin-left: 0;
    height: auto;
    overflow: visible;
  }

  .FixedProfile {
    padding-bottom: 1rem;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 2px;
}
